.headerButtonLight,
.headerButtonDark {
    color: #909193;
}


.removeBorderAndBackgroundColor {
    border: none;
    background-color: transparent;
}
.headerButtonLight:hover {
    color: #111729;
}

.headerButtonDark:hover {
    color: #F2F9FE;
}

.darkLightDiv {
    background-color: #223344;
    border-radius: 25px;
    padding: 3px;
}

.buttonLight {
    background-color: white;
    border-radius: 25px;
}

.buttonDark {
    background-color: transparent;
}

.svgWhite {
    filter: brightness(0) invert(1);
}

.svgGreen {
    filter: invert(49%) sepia(89%) saturate(291%) hue-rotate(75deg) brightness(94%) contrast(86%);
}

.bodyText {
    font-family: 'Poppins', sans-serif;
}

.bodyDark {
    background-color: #111729;
}

.bodyLight {
    background-color: #F2F9FE;
}

.letterBlack {
    color: black;
}

.letterLight {
    color: #F2F9FE;
}

.fontSizeAdaptScreen {
    font-size: 70px;
}

@media only screen and (max-width: 800px) {

    #divButtonsHeader {
        display: none;
    }

    #buttonChangeTheme {
        visibility: hidden;
    }
}

@media only screen and (min-width: 800px) {
    #buttonOpenMenu {
        display: none;
    }
}